.coder_e_transform_tip {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 9999;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 2px;
}

.coder_e_transform_result {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 9999;
  padding: 20px;
  border-radius: 5px;
  max-width: 300px;
}

.coder_e_transform_result-title {
  font-size: 14px;
}

.coder_e_transform_result_audio {
  display: none;
  cursor: pointer;

}
.coder_e_transform_result-content {
  margin-top: 15px;
  display: flex;
}
.coder_e_transform_result_play {
  margin-right: 15px;
  cursor: pointer;
}

.coder_e_barrage {
  position: absolute;
  white-space: nowrap;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  animation: moveRight linear infinite;
  padding: 20px;
  white-space: normal;
  max-width: 300px;
}

.coder_e_barrage.coder_e_paused {
    background-color: #f2f4fa;
}

.coder_e_query_mark_minus, .coder_e_review_minus {
    margin-top: 10px;
    background-color: #e57471;
    color: #fff;
    padding: 4px;
    font-size: 14px;
    border-radius: 4px;
    display: none;
    cursor: pointer;
}

.coder_e_query_mark_add, .coder_e_review_add {
  margin-top: 10px;
  background-color: #599ff7;
  color: #fff;
  padding: 4px;
  font-size: 14px;
  border-radius: 4px;
  display: none;
  cursor: pointer;
}
.coder_e_review_add, .coder_e_review_minus {
  display: inline-block;
}

.coder_e_query_result {
  margin-top: 10px;
  display: none;
  font-size: 12px;
}

.coder_e_barrage.coder_e_paused .coder_e_query_mark_minus {
  display: inline-block;
}
.coder_e_barrage.coder_e_paused .coder_e_query_mark_add {
  display: inline-block;
}
.coder_e_barrage.coder_e_paused .coder_e_query_result  {
  display: block;
}

.coder_e_barrage:hover {
  animation-play-state: paused;
}

@keyframes moveRight {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100%);
  }
}

.coder_e_query {
  background-color: #111;
  color: #fff;
  padding: 4px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
}

.coder_e_review_wrapper {
  position: fixed;
  width: 60%;
  max-height: 60vh;
  overflow-y: auto;
  background-color: #f2f4fb;
  padding: 10px;
  z-index: 99;
  top: 20vh;
  left: 20%;
  box-shadow: 8px 8px 20px 0 rgba(55,99,170,.1), -8px -8px 20px 0 #fff;
}

.coder_e_review_wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.coder_e_review_wrapper ul li {
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.coder_e_review_title {
  display: flex;
  justify-content: space-between;
  color: #599ff7;
  align-items: center;
}
.coder_e_review_result {
  font-size: 12px;
  display: none;
}

.coder_e_review_wrapper .coder_e_query_mark_add, .coder_e_review_wrapper .coder_e_query_mark_minus {
  display: inline-block;
}

.review_close {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  cursor: pointer;
}

.coder_e_review_play {
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  top: 2px;
}
.coder_e_review_audio {
  display: none;
}
.code_e_flex {
  display: flex;
  align-items: center;
}

.coder_e_clickAnimation {
  position: absolute;
  width: 20px;
  height: 20px;
  color: #57bd6a;
  border-radius: 50%;
  display: none;
  transition: transform 1s ease-in-out;
  z-index: 999;
}